[submodule "freebsd-headers"]
	path = freebsd-headers
	url = https://github.com/OpenOrbis/freebsd-headers
[submodule "pppwn/freebsd-headers"]
	path = pppwn/freebsd-headers
	url = https://github.com/OpenOrbis/freebsd-headers.git
	branch = master
