[submodule "freebsd-headers"]
	path = freebsd-headers
	url = https://github.com/OpenOrbis/freebsd-headers
[submodule "pppwn/freebsd-headers"]
	path = pppwn/freebsd-headers
	url = https://github.com/OpenOrbis/freebsd-headers/tree/ad8cef9530ec4d7d603be0d5736c732455865345
	branch = master
